body{
    height: 100vh;
    background: url(../img/kleft.webp) center center;
    background-size: cover;
}
.main_hide {
	opacity: 0;
	transition: .9s opacity ease-in-out;
}
.main_visible {
	opacity: 1;
}
.main{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    align-self: center;
    justify-content: center;
}
.menu{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    align-self: center;
    justify-content: center;
    width: 95vw;
}
.menu__item{
    display: flex;
    flex-flow: row nowrap;
}
.menu__item_icons{
    padding: 0;
    transition: 1s;
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
}
.menu__item_icons:hover{
    transform: scale(1.1);
    opacity: .8;
    box-shadow: 0 0 10px #e9e9e954;
    border-radius: 50%;
}
.menu__item_icons>svg{
    width: 6em;
    border-radius: 10%;
    padding: 1rem;
}

h1 {
    color: rgba(240, 240, 240, 0.61);
    margin: 0;
    font-size: 10em;
    text-transform: uppercase;
    animation: glow 2s ease-in-out infinite alternate;
    text-align: center;
    transition: 1s;
    display: flex;
    cursor: pointer;
    margin-top: 0.5em;
  }  
  @keyframes glow {
    from {
      text-shadow: 0 0 20px #ffffff;
    }
    to {
      text-shadow: 0 0 30px #91919148, 0 0 10px #7575755b;
    }
  }
  h1>span{
      margin: 0 .08em 0 .08em;
      transition: .9s;
  }

h1>span:hover{
transition: 2s;
transform: scale(1.06);
}

@media (min-width: 1600px) {
    h1 {
        font-size: 12em;
      }  
      
}

@media (max-width: 1000px) {
    h1{
        font-size: 8em; 
    } 
    h1>span{
        margin: 0 .1em 0 .1em;
    }
}
@media (max-width: 768px) {
    h1>span{
        margin: 0 .04em 0 .04em;
    }
    .menu__item_icons>svg{
        width: 6.5em;
        padding: .8em;
    }
}