.main_hide {
	opacity: 0;
	transition: .9s opacity ease-in-out;
}
.main_visible {
	opacity: 1;
}

body{
    height: 100vh;
    background: url(../img/kleft.jpg) center center;
    background-size: cover;
    background-image:url(../img/kleft.jpg);
}
.main{
    height: 50vh;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    align-self: center;
    justify-content: center;
}

.menu__item{
    display: flex;
    flex-flow: row nowrap;
    font-size: 2rem;
}

.menu__item>object{
    width: 1rem;
    margin: .2rem;
    padding: 0;
    transition: 1s;
}
.menu__item>object:hover{
    opacity: .7;
}
/* .to-hide{
    opacity: 0; 
}    */

